In [1]:
pip install bar_chart_race

Requirement already satisfied: bar_chart_race in c:\programdata\anaconda3\lib\site-packages (0.1.0)
Requirement already satisfied: matplotlib>=3.1 in c:\programdata\anaconda3\lib\site-packages (from bar_chart_race) (3.1.0)
Requirement already satisfied: pandas>=0.24 in c:\programdata\anaconda3\lib\site-packages (from bar_chart_race) (0.24.2)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2.4.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2.8.0)
Requirement already satisfied: numpy>=1.11 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.16.4)
Requirement already satisfied: pytz>=2011k in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->bar_chart_race) (2019.1)
Requirement already satisfied: six in c:\users\bazeredo\appdata\roaming\python\python37\site-packages (from cycler>=0.10->matplotlib>=3.1->bar_chart_race) (1.15.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from kiwisolver>=1.0.1->matplotlib>=3.1->bar_chart_race) (41.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import bar_chart_race as bcr
import pandas as pd

In [24]:
datamaradona = pd.read_excel(r'ListaMaradona.xlsx')

In [25]:
datamaradona.head()

,Jogador,Data,Time,Placar,Unnamed: 4,Unnamed: 5,Adversário,Compet,Gols,GolsAcumulado
0,Maradona,1979-02-06 00:00:00,Argentina,3,x,1,Escócia,Amistoso de Seleções - Jogo oficial FIFA,1,1
1,Maradona,25/06/1979,Argentina,1,x,2,Sel. FIFA,Amistoso de Seleções - Jogo oficial FIFA,1,2
2,Maradona,1979-08-08 00:00:00,Argentina,3,x,0,Bolívia,Amistoso de Seleções - Jogo oficial FIFA,1,3
3,Maradona,30/04/1980,Argentina,1,x,0,Irlanda,Amistoso de Seleções - Jogo oficial FIFA,1,4
4,Maradona,21/05/1980,Argentina,5,x,1,Áustria,Amistoso de Seleções - Jogo oficial FIFA,3,7

In [26]:
datamaradona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 10 columns):
Jogador          266 non-null object
Data             266 non-null object
Time             266 non-null object
Placar           266 non-null int64
Unnamed: 4       266 non-null object
Unnamed: 5       266 non-null int64
Adversário       266 non-null object
Compet           266 non-null object
Gols             266 non-null int64
GolsAcumulado    266 non-null int64
dtypes: int64(4), object(6)
memory usage: 20.9+ KB

In [27]:
datamaradona['Data'] = pd.to_datetime(datamaradona['Data'])

In [28]:
datamaradona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 10 columns):
Jogador          266 non-null object
Data             266 non-null datetime64[ns]
Time             266 non-null object
Placar           266 non-null int64
Unnamed: 4       266 non-null object
Unnamed: 5       266 non-null int64
Adversário       266 non-null object
Compet           266 non-null object
Gols             266 non-null int64
GolsAcumulado    266 non-null int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 20.9+ KB

In [32]:
maradona_bcr = pd.DataFrame(datamaradona.groupby(['Time','Data']).sum()['Gols']).unstack().T.droplevel(level=0)

In [33]:
maradona_bcr.head()

Time,Argentina,Argentino Jrs.,Barcelona,Boca Juniors,Napoli,Sevilla
Data,,,,,,
1977-02-11,NaN,2.0,NaN,NaN,NaN,NaN
1977-04-09,NaN,1.0,NaN,NaN,NaN,NaN
1977-04-12,NaN,1.0,NaN,NaN,NaN,NaN
1977-05-10,NaN,1.0,NaN,NaN,NaN,NaN
1977-05-15,NaN,1.0,NaN,NaN,NaN,NaN

In [ ]:
bcr.bar_chart_race(maradona_bcr)

C:\ProgramData\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:324: RuntimeWarning: invalid value encountered in greater
  top_filt = (bar_location > 0) & (bar_location < self.n_bars + 1)
C:\ProgramData\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:324: RuntimeWarning: invalid value encountered in less
  top_filt = (bar_location > 0) & (bar_location < self.n_bars + 1)